@import "../../assets/stylesheets/foundation/helpers.scss";
@import "../../assets/stylesheets/components/material-card.scss";
@import "../../assets/stylesheets/components/button.scss";

.ReservationSummary {
  section {
    @extend %is-material-card;
    margin: 0 $spacing-S $spacing-XL;
    padding: $spacing-xXS 0;
  }

  p {
    @extend %is-responsive-paragraph;
  }

  img {
    width: $aside-width-M;
    margin-right: auto;
    margin-left: auto;

    @include mq(L) {
      width: $aside-width-L;
    }

    @include mq(XL) {
      width: 300px;
    }
  }

  &_Pic {
    display: none;

    @include mq(M) {
      box-sizing: border-box;
      display: flex;
      justify-content: flex-end;
      flex-direction: column;
      height: $fake-header-M;
    }

    @include mq(L) {
      height: $fake-header-L;
    }

    @include mq(XL) {
      height: $fake-header-XL;
    }
  }

  &_Header {
    @extend %is-heading;
    padding: $spacing-xXS $spacing-xXS;

    @include mq(L) {
      padding: $spacing-XS $spacing-XS;
    }
  }

  &_Main {
    padding: $spacing-xXS;
    border-bottom: solid 1px $grey;

    @include mq(L) {
      padding: $spacing-XS;
    }

    &Heading {
      @extend %is-sub-heading;
    }
  }

  &_MainInfoBlock {
    margin-bottom: $spacing-xxXS;

    span {
      margin-right: $spacing-xXS;
    }

    p {
      margin-bottom: $spacing-xxxXS;
    }

    &-check-info {
      @extend .ReservationSummary_MainInfoBlock;
      display: flex;
      span {
        flex-grow: 1;
      }
    }
  }

  &_Footer {
    padding: $spacing-xXS $spacing-xXS;

    &Pricing {
      display: flex;
      justify-content: space-between;
      margin-bottom: $spacing-S;
    }

    &CTA {
      @extend %is-button;
    }
  }
}
