@import "../foundation/helpers.scss";

%is-button {
  width: 100%;
  font-weight: $font-weight-bold;
  color: $white;
  background-color: $blue;
  border: none;
  padding: $spacing-xXS $spacing-xxXS;
}
