@import "../../assets/stylesheets/foundation/helpers.scss";
@import "../../assets/stylesheets/components/button.scss";

.ReservationForm {
  background-image: url("../../assets/images/los-cocos-room-header-2-x.png");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  padding: $spacing-S 0;
  margin-bottom: $spacing-L;

  &_Overlay {
    background-color: rgba($blue, 0.25);
  }

  &_Container {
    padding: $spacing-XS 0;
    margin: 0 1rem;

    @include mq(M) {
      margin-left: auto;
      margin-right: auto;
      max-width: $main-content-width-M;
    }

    @include mq(L) {
      display: flex;
      max-width: $main-content-width-L;
    }
  }

  &_Input {
    box-sizing: border-box;
    width: 100%;
    padding: $spacing-xXS $spacing-xxXS;

    &:not(:last-child) {
      margin-bottom: $spacing-xXS;
    }

    @include mq(L) {
      &:not(:last-child) {
        margin-bottom: 0;
        margin-right: $spacing-xXS;
      }
    }
  }

  &_Submit {
    @extend %is-button;
  }
}
