@import "foundation/config";

body {
  margin: 0;
  font-family: $font-family-primary;
}

#app {
  font-family: Avenir, Helvetica, Arial, sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

input {
  border: none;
  box-shadow: none;

  &[type="date"] {
    background-color: $white;
  }

  &::-webkit-inner-spin-button {
    opacity: 1;
  }
}

h1,
h3,
p {
  margin: 0;
}

a {
  text-decoration: none;
  color: $black;

  &.router-link-exact-active {
    color: $black;
  }
}
