@import "foundation/config";
body {
  margin: 0;
  font-family: $font-family-primary;
}

#app {
  font-family: Avenir, Helvetica, Arial, sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

a {
  text-decoration: none;
  color: $black;

  &.router-link-exact-active {
    color: $black;
  }
}
